body{
    background-color: rgb(242, 242, 242);
    margin-top: 0%;
    /* margin-left: 10%;
    margin-right: 10%; */
    /* text-align: center; */
    /* border: 2px dotted black; */
    font-family: sans-serif;
    /* line-height: 1.5em; */
    display: block;
    position: relative;
    margin: 0px;
    padding: 0px;
}
.tops{
    margin-top: 0%;
    margin-bottom: 0%; 
}
.logo{
    background-color: #fff;
    display: flex;
    flex-direction: row;  
    margin-bottom: 0%;  
    justify-content:space-between;
}
.l1{
    border: 0;
    float: left;
    margin-bottom: 0%;
}
.l2{
    background-color: #fff;
    height: 58px; 
    width:auto; 
    /* margin: auto; */
    margin: 0 auto;
    margin-left: 10px;
}
.l3{
    background-color: #fff;
    width: auto;
    margin: 0 auto;
    margin-right: 15px;
    /* position: relative; */
    height: 58px;
}
.l3 li{
    padding-right: 3px;
    float: left;
    padding: 0 9px;
    font-size: 18px;
    /* line-height: 68px; */
    height: 68px;
}
.mainlevel a {
    text-decoration: none;
    cursor: pointer;
    color: #000;
}
.navuls{
    width: auto;
    margin: 0 auto;
    margin-right: 40px;
    margin-left: 0px;
    height: 68px;
    padding-right: 3px;
    position: relative;
}
.navuls li {
    float: left;
    line-height: 68px;
    position: relative;
    /* z-index: 999; */
}
.navuls li a {
    padding: 0 20px;
    color:black;
    font-family: Adobe 黑体 Std;
    font-size: 18px;
}
ul li{
    list-style: none;
}

.bgds img{
    width: 100%;
    height: 230px;
    border: 0;
    display: block;
    margin-top: 0%;
}
.cont{
    width: 100%;
    height: auto;
    background-color:rgba(68, 147, 238, 0.349);
    border: 0;
    margin:0px auto;
}
.survey{
    width: 100%;
    height: auto;
    overflow: hidden;
    /* background: #f2f2f2;  */
    /* margin: 65px 0px 35px; */
}
.survey h3 {
    width: 93%;
    margin: 5px 3.5% 0 3.5%;
    border-bottom: 2px solid #dadada;
    height: 44px;
    text-align: center;
}
.survey .jianjie {
    width: 90%;
    margin: 10px 5px 10px 50px;
    line-height: 36px;
    font-size: 18px;
    text-indent: 2em;
}
.btmjs{
    background-color: rgba(12, 159, 179, 0.534);
    margin-top: 0;
    display: flex;
    height: 155px;
}
.contact{
    margin-left: 90px;
    width: 580px;
    color: #fff;
    margin-top: 20px;
    height: auto;
    overflow: hidden;
    float: left;
    position: relative;
}
.contact h3{
    float: left;
    height: 20px;
    font-size: 20px;
    height: auto;
    /* font-weight: 500; */
    font-family: Adobe 黑体 Std;
    /* width: 120px; */
    margin-top: 15px;
    
}
.contact p{
    width: 308px;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    float: left;
    overflow: hidden;
    height: auto;
    padding-left: 40px;
    margin-top: 20px;
}
.btmp1{
    margin-bottom: 2px;
}
.btmp2 {
    margin-bottom: 10px;
    /* background-position: 3px -41px; */
    line-height: 30px;
}
.friendship {
    width: 600px;
    color: #fff;
    margin-top: 20px;
    height: auto;
    overflow: hidden;
    float: right;
}
.friendship h3 {
    float: left;
    height: 20px;
    font-size: 20px;
    height: auto;
    /* font-weight: 500; */
    font-family: Adobe 黑体 Std;
    /* width: 120px; */
    margin-top: 15px;
    margin-left: 40px;
}

.friendship ul {
    width: 250px;
    height: auto;
    overflow: hidden;
    float: left;
    list-style: none;
}
.friendship ul li {
    float: left;
    line-height: 2em;
    padding-left: 10px;
    padding-right: 10px;
}
.friendship ul li a {
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    
}
.friendship a{
    text-decoration: none;
    cursor: pointer;
    /* padding: 0 20px; */
    color:black;
    font-family: Adobe 黑体 Std;
    font-size: 28px;
}

.btmdiv {
    background: #353535;
    line-height: 58px;
    text-align: center;
    color: #b1b1b1;
    font-size: 14px;
}
.btmdiv p {
    margin-top: 0%;
    margin-bottom: 0%;
}